/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado y menú */
header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/* Hero section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    background: #e0e0e0;
    color: #333;
}

#hero img {
    width: 100%;
    height: auto;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    color: #555;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Portfolio */

#portfolio {
    padding: 2rem;
    text-align: center;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.portfolio-grid img {
    width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.portfolio-grid img:hover {
    transform: scale(1.05);
}

/* Secciones */
.section-padding {
    padding: 60px 20px;
}

#about, #services {
    background-color: #fff;
    text-align: center;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.services-container {
    display: flex;
    justify-content: space-around;
}

.service {
    width: 30%;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.footer iframe {
    border: none;
    margin-top: 20px;
}

.footer p {
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    ul {
        display: none;
        flex-direction: column;
    }
    ul li {
        margin-left: 0;
        margin-top: 10px;
    }
    .services-container {
        flex-direction: column;
        align-items: center;
    }
    .service {
        width: 100%;
        margin-bottom: 20px;
    }
}

*
.column {
    flex: 1; /* Ambas columnas ocupan el 50% del ancho */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden; /* Importante para el efecto de zoom */
}


.left-column {
    background-image: url('https://i.postimg.cc/hXzLGkgQ/arquitectura.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease; /* Transición suave al pasar el mouse */
}

.right-column {
    background-image: url('https://i.postimg.cc/PpRfNRdN/arquitectura-interior.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.5s ease; /* Transición suave al pasar el mouse */
}

.overlay {
    background: rgba(0, 0, 0, 0.5); /* Difuminado oscuro sobre la imagen de fondo */
    padding: 20px;
    text-align: center;
    width: 100%; /* Asegura que el overlay cubra toda la columna */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-column:hover {
    transform: scale(1.2); /* Aumenta el zoom al 120% cuando el mouse está sobre la columna */
}

.left-column h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.left-column p {
    font-size: 1.2rem;
}

.right-column:hover {
    transform: scale(1.2); /* Aumenta el zoom al 120% cuando el mouse está sobre la columna derecha */
}
